@use "sass:math";

// インナー幅
$inner: 1080px;

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

// フォント設定
$base-font: 'Noto Sans JP', sans-serif;
$second-font: 'Gotu', sans-serif;
$third-font: 'Noto Serif JP', serif;
$font-point1: 'Lato', sans-serif;

// フォントウェイト
$regular: 300;
$normal: 400;
$medium: 500;
$bold: 700;

// 色の指定
$black: #111;
$white: #fff;
$gray1: #F2F2F2;
$green1: #0D2936;
$green2: #408F95;
$green3: #DDF0F1;

