@use "global" as *;

.about {
  position: relative;
}
.about__inner{
  margin-top: rem(27);
  @include mq('md') {
    position: relative;
    margin-top: initial;
  }
}

.about__content {
  margin-top: rem(54);
  @include mq('md') {
    margin-top: rem(120);
  }
}
