@use "global" as *;

.about-content {
  position: relative;
}

.about-content__img-block {
  position: relative;
  aspect-ratio: 345/212;
  max-width: rem(520);
  width: 100%;
  margin: auto;
  height: 100%;
  @include mq('md') {
    max-width: initial;
  }
}

.about-content__img-block--sub {
  aspect-ratio: 345/228;
}

.about-content__img1 {
  position: absolute;
  z-index: -1;
  width: 100%;
  margin: auto;
  right: 0;
  bottom: 0;
  @include mq('md') {
    max-width: rem(1080);
  }
}

.about-content__img1 img {
  aspect-ratio: 281/186;
  max-width: 81.45%;
  margin-left: auto;
  @include mq('md') {
    aspect-ratio: 880/581;
    max-width: 81.48%;
  }
}

.about-content__img1--sub img {
  max-width: 100%;
  margin-left: 0;
  @include mq('md') {
    width: initial;
    margin-left: auto;
  }
}

.about-content__img2 {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin: auto;
  left: 0;
  top: 0;
}

.about-content__img2 img {
  aspect-ratio: 128/194;
  max-width: 37.1%;
  width: 100%;
  margin-right: auto;
  @include mq('md') {
    aspect-ratio: 399/606;
    max-width: 36.9%;
  }
}

.about-content__body {
  margin-top: rem(40);
  max-width: rem(520);
  margin: auto;
  @include mq('md') {
    max-width: rem(881);
    width: 100%;
    margin-left: auto;
    padding-right: rem(40);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: rem(140);
    right: 0;
  }
}

.about-content__body--sub {
  display: contents;
  // @include mq('md') {
  //   display: block;
  // }
}

.about-content__title {
  font-size: rem(40);
  line-height: 1;
  font-family: $second-font;
  font-weight: $normal;
  color: $green2;
  @include mq('md') {
    font-size: rem(80);
    line-height: calc(100/80);
    color: $white;
    margin-top: rem(-19);
  }
}

.about-content__title--sub {
  position: absolute;
  top: rem(24);
  left: rem(24);
  color: $white;
  @include mq('md') {
    position: initial;
  }
}

.about-content__body-inner {
  margin-top: rem(16);
  @include mq('md') {
    padding-left: rem(40);
  }
}

.about-content__body-inner--sub {
  margin-top: rem(40);
}

.about-content__text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  @include mq('md') {
    color: $white;
  }
}

.about-content__btn {
  margin-top: rem(40);
  text-align: center;
  text-align: -webkit-center;
}
