@use "global" as *;

.blog {
  position: relative;
  z-index: -20;
}

.blog::before {
  @include mq('md') {
    content: "";
    display: block;
    width: 100%;
    height: 60.4%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    background-image: url(/assets/images/common/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.blog::after {
  @include mq('md') {
      content: "";
      display: block;
      position: absolute;
      width: rem(437);
      height: rem(201);
      background-image: url(/assets/images/common/bg_icon2.png);
      background-repeat: no-repeat;
      background-size: cover;
      top: rem(22);
      left: calc(50% - min(48%, rem(620)));
      z-index: -1;
  }
}

.blog__container {
  margin-top: rem(26);
  @include mq('md') {
    margin-top: rem(78);
    position: relative;
    z-index: -1;
  }
}

.blog__inner {
  position: relative;
  z-index: -18;
  margin-top: rem(80);
  @include mq('md') {
    margin-top: initial;
  }
}

.blog__inner.inner {
  padding-left: rem(21);
  padding-right: rem(21);
}

.blog__cards {
  display: grid;
  gap: rem(40);
  @include mq('md') {
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog-card-list__item {
  max-width: rem(520);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.blog__btn {
  margin-top: rem(40);
  text-align: center;
  text-align: -webkit-center;
  position: relative;
  z-index: 10;
  @include mq('md') {
    margin-top: rem(80);
  }
}
