@use "global" as *;

.campaign-card {
  display: block;
  box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.campaign-card__img {
  width: 100%;
}

.campaign-card__img img{
  aspect-ratio: 280/188;
  width: 100%;
  object-fit: cover;
  @include mq('md') {
    aspect-ratio: 335/223;
  }
}

.campaign-card__body-top {
  margin-top: rem(15);
  padding-left: rem(16);
  padding-right: rem(16);
  background-color: $white;
  @include mq('md') {
    padding-right: rem(15);
    margin-top: rem(25);
  }
}

.campaign-card__body-top.campaign-card__body-top--sub {
  @include mq('md') {
    padding-left: rem(24);
    padding-right: rem(24);
  }
}

.campaign-card__body-top.campaign-card__body-top--center {
  text-align: center;
  margin-top: rem(10);
}

.campaign-card__category {
  display: inline-block;
  font-size: rem(12);
  line-height: calc(22/12);
  padding: rem(3) rem(11);
  color: $green2;
  border: 1px solid $green2;
  @include mq('md') {
    padding: rem(5) rem(15);
  }
}

.campaign-card__title {
  font-weight: $medium;
  font-size: rem(16);
  line-height: calc(24/16);
  margin-top: rem(4);
  position: relative;
}

.campaign-card__title--sub {
  @include mq('md') {
    font-size: rem(24);
    // font-weight: normal;
  }
}

.campaign-card__title::before {
  display: block;
  content: '';
  position: absolute;
  bottom: rem(-8);
  left: 0;
  width: 100%;
  height: rem(1);
  background-color: $green2;
  @include mq('md') {
    bottom: rem(-4);
  }
}

.campaign-card__body-bottom {
  margin-top: auto;
  padding-bottom: rem(16);
  padding-left: rem(16);
  padding-right: rem(16);
  @include mq('md') {
    padding-top: rem(10);
    padding-right: rem(15);
    padding-bottom: rem(30);
  }
}

.campaign-card__body-bottom--sub {
  @include mq('md') {
    padding-left: rem(24);
    padding-right: rem(24);
    padding-bottom: rem(44);
  }
}

.campaign-card__body-bottom.campaign-card__body-bottom--side {
padding-top: 0;
padding-bottom: rem(10);
}

.campaign-card__price-head {
  font-size: rem(14);
  line-height: calc(24/14);
  text-align: center;
  margin-top: rem(16);
  @include mq('md') {
    font-size: rem(16);
    line-height: calc(24/16);
    margin-top: rem(18);
    text-indent: -1em;
  }
}

.campaign-card__price-inner{
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.campaign-card__price {
  display: inline-block;
  font-size: rem(20);
  font-weight: $bold;
  font-family: $font-point1;
  line-height: 1;
  position: relative;
  z-index: 1;
  @include mq('md') {
    font-size: rem(24);
  }
}

.campaign-card__price::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  height: rem(3);
  background-color: #C94800;
  z-index: 10;
}

.campaign-card__price-sale {
  font-size: rem(32);
  font-weight: $bold;
  font-family: $font-point1;
  color: $green2;
  margin-left: rem(17);
  @include mq('md') {
    font-size: rem(40);
  }
}

.campaign-card__price-sale--sub {
  @include mq('md') {
    margin-left: rem(40);
  }
}

.campaign-card__price-sale.campaign-card__price-sale--small {
  @include mq('md') {
    font-size: rem(32);
  }
}
.campaign-card__text-inner {
  display: none;
  @include mq('md') {
    display: block;
    margin-top: rem(12);
  }
}

.campaign-card__cta-inner {
  display: none;
  @include mq('md') {
    display: block;
    text-align: center;
    margin-top: rem(27);
  }
}

.campaign-card__date {
  display: none;
  @include mq('md') {
    display: block;
    color: $green2;
    font-family: $font-point1;
    font-weight: $bold;
  }
}

.campaign-card__cta-text {
  display: none;
  @include mq('md') {
    display: block;
    margin-top: rem(5);
    color: $green2;
    font-size: rem(14);
  }
}

.campaign-card__btn {
  display: none;
  @include mq('md') {
    display: block;
    text-align: center;
    margin-top: rem(13);
  }
}
