@use "global" as *;

.footer-nav {
  background-color: $green2;
  color: $white;
  width: 100%;
}

.footer-nav__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: rem(21);
  padding-right: rem(10);
}

.footer-nav__wrapper {
  @include mq('md') {
    display: contents;
  }
}

.footer-nav__wrapper:first-child {
  @include mq('md') {
    margin-top: rem(21);
  }
}

.footer-nav__wrapper:nth-child(2) {
  margin-top: rem(17);
  margin-left: rem(40);
  @include mq('md') {
    margin-left: initial;
  }
}

.footer-nav__wrapper:last-child .footer-nav__block:last-child {
  @include mq('md') {
    // margin-top: rem(-9);
  }
}

.footer-nav__block {
  margin-top: rem(16);
  @include mq('md') {
    margin-top: 0;
  }
}

.footer-nav__block .footer-nav__item.footer-nav__item--icon:first-child {
  margin-top: initial;
  @include mq('md') {
  }
}

.footer-nav__item.footer-nav__item--icon {
  position: relative;
  margin-top: rem(15);
  @include mq('md') {
    margin-top: rem(16);
  }
}

.footer-nav__item.footer-nav__item--icon::before {
  display: block;
  content: "";
  position: absolute;
  width: rem(18);
  height: rem(18);
  background-image: url(/assets/images/common/hitode.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: rem(13);
  left: rem(-21);
  @include mq('md') {
    left: rem(-21);
  }
}

.footer-nav__item::marker {
  display: none;
}

.footer-nav__link {
  display: inline-block;
  padding-top: rem(9);
  padding-bottom: rem(9);
}

.footer-nav__main-menu {
  font-size: rem(16);
  line-height: calc(18/16);
  font-weight: $bold;
  padding-top: rem(9);
  padding-bottom: rem(9);
}


.footer-nav__sub-menu {
  font-size: rem(16);
  font-weight: $normal;
  line-height: calc(18/16);
  white-space: nowrap;
  padding-top: rem(9);
  padding-bottom: rem(9);
}
