@use "global" as *;

.form__inner {
  max-width: rem(520);
  width: 100%;
  margin: auto;
  @include mq('md') {
    max-width: rem(700);
  }
}

.form__item {
    padding-top: rem(22);
  padding-bottom: rem(24);
  border-bottom: rem(1) dashed $green2;
  @include mq('md') {
    padding-bottom: rem(41);
    display: flex;
    align-items: center;
    justify-content: baseline;
  }
}

// .form__item + .form__item {
// }

.form__item dt {
  font-size: rem(16);
  font-weight: $bold;
  @include mq('md') {
    width: rem(220);
  }
}

.form__item span {
  display: inline-block;
  background-color: #C94800;
  color: $white;
  font-size: rem(12);
  font-weight: $normal;
  padding: rem(2) rem(18);
  margin-left: rem(8);
}

.form__item dd {
  margin-top: rem(16);
  @include mq('md') {
    width: rem(480);
  }
}

.form__item input[type=text],
.form__item input[type=email],
.form__item input[type=tel] {
  display: block;
  border: 1px solid $green2;
  width: 100%;
  height: rem(40);
  padding-left: rem(16);
  padding-right: rem(16);
}

.form__item input[type=checkbox] {
  display: block;
  width: rem(14);
  height: rem(14);
  border: 1px solid $green2;
  display: inline-flex;
  vertical-align: sub;
  cursor: pointer;
  margin: initial;
  margin-right: rem(10);
}

.form__item label {
  display: block;
}

.form__item select {
  display: block;
  border: 1px solid $green2;
  width: 100%;
  height: rem(40);
  font-size: rem(12);
  padding-left: rem(8);
  cursor: pointer;
}

.form__item--select {
  position: relative;
}

.form__item--select::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 6px 0 6px;
  border-color: $green2 transparent transparent transparent;
  right: rem(10);
  top: 60%;
  @include mq('md') {
    top: 45%;
  }
}

.form__item textarea {
  display: block;
  border: 1px solid $green2;
  width: 100%;
  font-size: rem(12);
  padding: rem(8);
}

::placeholder {
  color: $green3;
}

.form__confirm {
  margin-top: rem(40);
  @include mq('md') {
    text-align: center;
  }
}

.form__confirm-inner {
  max-width: 85%;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.form__confirm-block {
  margin-left: rem(8);
  @include mq('md') {
    margin-left: rem(16);
  }
}

.form__confirm label {
  font-size: rem(14);
  line-height: calc(22/14);
}


.form__confirm input[type=checkbox] {
  display: block;
  width: rem(22);
  height: rem(22);
  border: 1px solid $green2;
  display: inline-flex;
  vertical-align: text-top;
  cursor: pointer;

}

.form__item input[type=checkbox],
.form__confirm input[type=checkbox] {
  position: relative;
}

.form__item input[type=checkbox]::after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: rem(2.5) solid #C94800;
  border-left: rem(2.5) solid #C94800;
  opacity: 0;
  height: rem(4);
  width: rem(10);
  top: 0;
  left: 50%;
  transform: rotate(-40deg) translateX(-50%);
  @include mq('md') {
    width: rem(9);
    height: rem(5);
    top: rem(-1);
    left: 40%;
  }
}

.form__confirm input[type=checkbox]::after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: rem(3) solid #C94800;
  border-left: rem(3) solid #C94800;
  opacity: 0;
  height: rem(6);
  width: rem(10);
  top: 20%;
  left: 50%;
  transform: rotate(-45deg) translate(-50%, -50%);
}

.form__item input[type=checkbox]:checked::after,
.form__confirm input[type=checkbox]:checked::after {
  opacity: 1;/*チェック後表示*/
}

.form__btn {
  text-align: center;
  margin-top: rem(19);
}
