@use "global" as *;

.sp-nav {
  background-color: $green2;
  color: $white;
  width: 100%;
  height: 100vh;
  transition: opacity 0.4s ease-in-out;
  position: relative;
  z-index: 10;
  overflow-y: scroll;
  display: none;
  visibility: hidden;
  @include mq('md') {
    display: none;
  }
}

.sp-nav::-webkit-scrollbar {
  display: none;
}

.sp-nav.is-open {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease-in-out;
  z-index: 10;
}

.sp-nav__items {
  display: flex;
  justify-content: center;
  padding-top: rem(50);
  padding-bottom: rem(130);
}

.sp-nav__items::-webkit-scrollbar{
  display: none;
}

.sp-nav__wrapper:first-child {
  padding-left: rem(22);
}

.sp-nav__wrapper:nth-child(2) {
  padding-left: rem(40);
}

.sp-nav__block + .sp-nav__block {
  margin-top: rem(16);
}

.sp-nav__link {
  display: inline-block;
  padding-top: rem(9);
  padding-bottom: rem(10);
  width: 100%;
}

.sp-nav__link--icon {
  display: block;
  position: relative;
}

.sp-nav__link--icon::before {
  display: block;
  content: "";
  position: absolute;
  width: rem(18);
  height: rem(18);
  background-image: url(/assets/images/common/hitode.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: rem(13);
  left: rem(-21);
  @include mq('md') {
    left: rem(-21);
  }
}

.sp-nav__menu {
  font-size: rem(16);
  line-height: calc(18/16);
  font-weight: $bold;
  padding-top: rem(9);
  padding-bottom: rem(10);
}


.sp-nav__menu--sub {
  font-weight: $normal;
}
