@use "global" as *;

.sub-faq-fv {
  position: relative;
  z-index: -1;
  background-image: url(/assets/images/common/faq-fv-sp.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mq('md') {
    background-image: url(/assets/images/common/faq-fv-pc.jpg);
  }
}
