@use "global" as *;

.sub-nav {
  background-color: $green2;
  color: $white;
  width: 100%;
}

.sub-nav--black {
  background-color: transparent;
  color: $black;
}

.sub-nav__block {
  display: flex;
  justify-content: space-evenly;
  @include mq('md') {
    display: block;
    justify-content: initial;
    padding-left: rem(22);
  }
}

.sub-nav__wrapper:first-child {
  padding-left: rem(11);
  @include mq('md') {
    padding-left: initial;
  }
}

.sub-nav__wrapper:nth-child(2) {
  padding-left: rem(26);
  @include mq('md') {
    padding-left: rem(138);
  }
}

.sub-nav__wrapper {
  @include mq('md') {
    display: inline-flex;
  }
}

.sub-nav__items {
  margin-top: rem(16);
}

.sub-nav__block-pc {
  display: contents;
  @include mq('md') {
    display: block;
  }
}

.sub-nav__block-pc + .sub-nav__block-pc {
  @include mq('md') {
    padding-left: rem(142);
  }
}

.sub-nav__link--icon {
  display: block;
  position: relative;
}

.sub-nav__link--icon::before {
  display: block;
  content: "";
  position: absolute;
  width: rem(18);
  height: rem(18);
  background-image: url(/assets/images/common/hitode.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: rem(13);
  left: rem(-21);
  @include mq('md') {
    left: rem(-21);
  }
}

.sub-nav__link {
  display: block;
  padding-top: rem(9);
  padding-bottom: rem(9);
  width: 100%;
}

.sub-nav__menu {
  font-size: rem(16);
  line-height: calc(18/16);
  font-weight: $bold;
  padding-top: rem(9);
  padding-bottom: rem(9);
}

.sub-nav__menu--sub {
  font-weight: $normal;
}
