@use "global" as *;

.sub-voice {
  position: relative;
  z-index: -100;
}

.sub-voice::before {
  content: "";
  position: absolute;
  top: rem(57);
  left: calc(50% - min(48%, rem(620)));
  width: rem(122);
  height: rem(55);
  background-image: url(/assets/images/common/bg_icon3.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  @include mq('md') {
    top: rem(107);
    width: rem(306);
    height: rem(138);
  }
}

.sub-voice__inner {
  position: relative;
  z-index: -1;
}

.sub-voice__contents {
  margin-top: rem(52);
  @include mq('md') {
    margin-top: rem(150);
  }
}

.sub-voice__container {
  margin-top: rem(40);
}

.sub-voice__cards {
  display: grid;
  row-gap: rem(42);
  @include mq('md') {
    grid-template-columns: 1fr 1fr;
    row-gap: rem(80);
    column-gap: rem(40);
  }
}

.sub-voice__pagenavi {
  text-align: center;
  margin-top: rem(86);
  color: $green2;
}

.sub-voice__pagenavi .previouspostslink,
.sub-voice__pagenavi .page,
.sub-voice__pagenavi .current,
.sub-voice__pagenavi .nextpostslink {
  border: 1px solid $green2;
  padding: rem(8) rem(12);
  margin: 0 rem(6);
  font-family: $font-point1;
  font-weight: $bold;
}

.sub-voice__pagenavi .previouspostslink {
  margin-right: rem(30);
  margin-left: 0;
  position: relative;
}

.sub-voice__pagenavi .previouspostslink::after {
  content: "";
  position: absolute;
  top: 50%;
  right: rem(10);
  width: rem(10);
  height: rem(10);
  border-top: 1px solid $green2;
  border-left: 1px solid $green2;
  transform: translateY(-50%) rotate(-45deg);
}

.sub-voice__pagenavi .current {
  background-color: $green2;
  color: $white;
}

.sub-voice__pagenavi .nextpostslink {
  margin-left: rem(30);
  margin-right: 0;
  position: relative;
}

.sub-voice__pagenavi .nextpostslink::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 32%;
  right: rem(10);
  width: rem(10);
  height: rem(10);
  border-bottom: 1px solid $green2;
  border-right: 1px solid $green2;
  transform: translateY(-50%) rotate(-45deg);
}

.sub-voice__pagenavi .larger--pc {
  display: none;
  @include mq('md') {
    display: inline;
  }
}
