@use "global" as *;

.sub-blog-fv {
  position: relative;
  z-index: -1;
  background-image: url(/assets/images/common/blog-fv-sp.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mq('md') {
    background-image: url(/assets/images/common/blog-fv-pc.jpg);
  }
}
