@use "global" as *;

.sub-campaign {
  position: relative;
  z-index: -100;
}

.sub-campaign::before {
  content: "";
  position: absolute;
  top: rem(57);
  left: calc(50% - min(48%, rem(620)));
  width: rem(122);
  height: rem(55);
  background-image: url(/assets/images/common/bg_icon3.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  @include mq('md') {
    top: rem(107);
    width: rem(306);
    height: rem(138);
  }
}

.sub-campaign__inner {
  position: relative;
  z-index: -1;
}

.sub-campaign__contents {
  margin-top: rem(52);
  @include mq('md') {
    margin-top: rem(150);
  }
}

.sub-campaign__container {
  margin-top: rem(40);
}

.sub-campaign__cards {
  display: grid;
  row-gap: rem(42);
  padding-left: rem(33);
  padding-right: rem(33);
  @include mq('md') {
    grid-template-columns: 1fr 1fr;
    row-gap: rem(80);
    column-gap: rem(40);
    padding-left: initial;
    padding-right: initial;
  }
}

.sub-campaign__card {
    max-width: rem(480);
    margin: auto;
    @include mq('md') {
      max-width: initial;
      margin: initial;
    }
}
