@use "global" as *;

.sub-about-fv {
  position: relative;
  z-index: -1;
  background-image: url(/assets/images/common/about-fv-sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: rem(460);
  @include mq('md') {
    background-image: url(/assets/images/common/about-fv-pc.jpg);
  }
}
