@use "global" as *;

.sub-price {
  position: relative;
  z-index: -100;
}

.sub-price::before {
  content: "";
  position: absolute;
  top: rem(56);
  left: rem(14);
  width: rem(122);
  height: rem(55);
  background-image: url(/assets/images/common/bg_icon3.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  @include mq('md') {
    top: rem(107);
    left: calc(50% - min(48%, rem(622)));
    width: rem(304);
    height: rem(138);
  }
}

.sub-price__contents {
  margin-top: rem(52);
  display: grid;
  gap: rem(40);
  @include mq('md') {
    margin-top: rem(148);
    gap: rem(74);
  }
}

.sub-price__price-list {
  max-width: rem(520);
  width: 100%;
  margin: auto;
  @include mq('md') {
    max-width: initial;
    margin: initial;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
