@use "global" as *;

.tab1__inner {
  max-width: rem(500);
  width: 100%;
  margin: auto;
  @include mq('md') {
    max-width: initial;
    margin: initial;
  }
}

.tab1__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: rem(20);
  row-gap: rem(16);
  @include mq('md') {
    display: flex;
    column-gap: rem(32);
  }
}

.tab1__item {
  font-size: rem(14);
  padding: rem(5) 0;
  width: 100%;
  text-align: center;
  color: $green2;
  background-color: $white;
  border: 1px solid $green2;
  @include mq('md') {
    max-width: rem(162);
  }
}

.tab1__item:hover {
  @include mq('md') {
    cursor: pointer;
  }
}

.tab1__item.is-active {
  color: $white;
  background-color: $green2;
}
